.card {
  background: #1c1c1c;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.patch {
  height: 100px;
  margin-bottom: 8px;
  object-fit: contain;
  width: 100px;
}

.details {
  background: #333;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.info {
  display: grid;
  font-family: var(--font-mono);
  gap: 8px;
}

.info p {
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  margin: 0;
  position: relative;
  padding: 1rem;
}

.name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
