.card {
  background: #1c1c1c;
  color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.patch {
  height: 100px;
  margin-bottom: 8px;
  object-fit: contain;
  width: 100px;
}

.details {
  margin-top: 10px;
  background: #333;
  padding: 10px;
  border-radius: 5px;
}

.info {
  display: grid;
  gap: 8px;
}

.name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
