.list {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
  width: 100%;
}
